datasets/*.csv
*.swp
*slurm*
*.mdl.pk
*.bk.py
*.sw*
trainedNetworks*
.nfs*
*.png
trainedModels*
*bk*
*pycache*
datasets/postgresTemplates*
shap/notebooks/trainedModels*
*.jpg
*flipped_bits.py
*timingAnalysis.py
*Plots*
griffin/*
